@import '../core/var';
.mainError {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}

.backBtn {
  text-decoration: none;
  text-align: center;
  margin: 15px 50px;
  border: #000000 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 1.4rem;
  box-shadow: 0 0 15px rgb(106, 183, 188);
}

.backBtn:hover {
  background-color: rgb(137, 197, 201);
  color: rgb(193, 208, 52);
  border: rgb(193, 208, 52) 1px solid;
  text-shadow: 1px 1px #000000;
}

@media screen and (min-width: 768px) {
.mainError {
    background-image: url('../../images/rick2.jpeg');
    background-position: left 10px bottom;
    background-repeat: no-repeat;
    background-size: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}
.backBtn {
      padding: 5px 10px;
      font-size: 1.5rem;
      margin: 15px 250px;
    }
}

@media screen and (min-width: 1024px) {
  .backBtn {
    margin-top: 15px;
    font-size: 1.7rem;
  }
}
