@import '../core/var';

.characterList {
  display: grid;
  grid-template-columns: 180px;
  grid-gap: 15px;
  padding: 20px 100px;
  &__item {
    width: 180px;
    text-align: center;
    box-shadow: 0 0 15px rgb(193, 208, 52);
    border: rgb(90, 202, 210) solid 2px;
    background-color: #000000;
    &--img {
      width: 180px;
    }
    &--name {
      margin-top: 5px;
      font-size: 1.3rem;
      font-weight: bold;
      color: rgb(181, 247, 181);
    }
    &--text {
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: rgb(181, 247, 181);
    }
    &--link {
      text-decoration: none;
      color: rgb(3, 43, 3);
    }
  }
}

.errorBtn {
  text-align: center;
  text-decoration: none;
 
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(106, 183, 188);
  color: #000000;
  font-size: 1.4rem;
  box-shadow: 0 0 15px rgb(106, 183, 188);
}

@media screen and (min-width: 580px) {
  .characterList {
    grid-template-columns: repeat(2, 180px);
  }
 .errorBtn {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 768px) {
  .characterList {
    grid-template-columns: repeat(3, 180px);
  }
  .errorBtn {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (min-width: 1024px) {
  .characterList {
    grid-template-columns: repeat(4, 180px);
  }
  .errorBtn {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
