@import '../core/var';

.header {
  padding: 15px 0;
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  &__filter {
    margin-bottom: 3px;
    &--input {
      box-shadow: inset 0 0 5px rgb(68, 213, 68);
      width: 70vw;
      max-width: 400px;
    }
  }
  &__img {
    width: 50px;
    justify-content: center;
  }
}

.headerWhitoutFilter {
  padding: 13px 20px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .headerWhitoutFilter {
    padding: 10px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 10px 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    &__filter {
      margin-bottom: 3px;
      width: 400px;
      &--input {
        box-shadow: inset 0 0 5px rgb(68, 213, 68);
      }
    }
    &__img {
      width: 150px;
      justify-content: flex-end;
    }
  }
  .headerWhitoutFilter {
    padding: 10px 100px;
  }
}
