@import '../core/var';

.header {
  padding: 15px 0;
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
    &__logo {
      width: 300px;
      margin-top: 20px;
    }
    &__img {
      width: 50px;
    }
    &__filter {
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &--input {
      box-shadow: 0 0 10px rgb(193, 208, 52);
      width: 70vw;
      max-width: 400px;
    }
    &--select {
      box-shadow: 0 0 10px rgb(193, 208, 52);
      width: 70vw;
      max-width: 408px;
    }
  }
}

.headerWhitoutFilter {
  padding: 13px 20px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  & .header__img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .headerWhitoutFilter {
    padding: 10px 60px;
  }
  .header {
  &__logo {
    width: 400px;
  }
}
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 10px 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    &__logo {
      width: 400px;
      margin: 10px 0;
    }
    &__filter {
      margin-bottom: 3px;
      width: 400px;
    }
    &__img {
      width: 100px;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
  .headerWhitoutFilter {
    padding: 10px 100px;
  }
}
