@import './core/reset';
@import './core/var';

.container {
  box-shadow: inset 0 0 15px #000000;
}
.main {
  min-height: 65vh;
}

@media screen and (min-width: 520px) {
  .main {
    background-image: url('../images/rickandmorty.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 200px;
  }
}
